<h2>Cardápio: <%= @menu.name%></h2>

<%= link_to 'Adicionar Itens', new_menu_menu_item_path(@menu.id) %>

<% if @menu.dishes.any? %>
  <% @menu.dishes.each do |dish| %>
    <p><%= dish.name %></p>
  <% end %>
<% else %>
  <p>Não há pratos cadastrados</p>
<% end %>

<% if @menu.beverages.any? %>
  <% @menu.beverages.each do |beverage| %>
    <p><%= beverage.name %></p>
  <% end %>
<% else %>
  <p>Não há bebidas cadastradas</p>
<% end %>
